* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1240px;
    margin: auto;
}

.container-whider{
    max-width: 1640px;
    margin: auto;
}

body{
    font-family: $font_type;

}

a{
    text-decoration: none;
}

.flex-container{
    display: flex;
}

.pink-container{
    background-color: $pink_color;

}

// .grow1{
//     flex-grow: 1;
// }

.spacing-things{
    padding: $avarage_spaces*3 0;
}