//colors
//#0414B3 blu
//#7F14D4 vola
$pink_color : #0414B3;
$text_color: #7F14D4;
$button_color: #2e4790;

//fonts
$biggest_font: 39px;
$medium_font: 24px;
$normal_font: 18px;
$font_type: 'Roboto', sans-serif;

//spaces
$avarage_spaces: 8px;

