//colors
$pink_color : #ffe7d2;
$text_color: #594330;
$button_color: #2e4790;

//fonts
$biggest_font: 39px;
$medium_font: 24px;
$normal_font: 18px;
$font_type: 'Roboto', sans-serif;

//spaces
$avarage_spaces: 8px;

